/* * は全てに適用　ただ後でclass指定すればいくらでも上書きできる*/
*{
  /*  paddingとborderを幅(width)と高さ(height)に含める*/
  box-sizing:border-box;
  margin:0;
  padding:0;
  /*字体　上から優先順位高い　osによってないものがあるからはじめに複数指定しとく*/
  font-family:HelveticaNeue-Light,
  "Helvetica Neue Light",
  "Helvetica Neue",
  Helvetica,Arial,
  "Lucida Grande",
  sans-serif;/* ゴシック*/
  font-weight:300;/*太さ*/
  font-size:.95rem
}

.top{
  height:100vh;/*画面の割合で表示する*/
  width:100vw;
  text-align:center;
  /*グラデーション*/
 /*background:-webkit-linear-gradient(125deg,rgba(255,239,213,1) 0,rgba(255,230,129,1) 100%)*/
}
body {
 background-image: url("../images/topback.jpg") ;
 background-repeat: no-repeat;
 background-size:cover;
}
.gameName {
  font-weight:900;
  font-size:7.5rem;
  text-align:center
}

.carousel-inner{
    position: absolute
}

.selFavCha {
  font-weight:700;
  font-size:4.5rem;
  text-align:center;
  padding-top: 1%;
  padding-left: 1%
}


.girlName {
    position:relative;
  font-weight:300;
  font-size:3.0rem;
  text-align:right;
  padding-bottom: 450px;
  color: #303030;  /* 文字の色 */
}

.girlDesc {
  font-weight:200;
  font-size:1.5rem;
  text-align:right;
  padding-bottom: 100px
}
/* Preタグ装飾 mainの画面で使えそう*/
.s{
    position: absolute;
    bottom: 400%;
    right: 5%;
    font-family: sans-serif;
     width: 270px; /* 幅を自動に */
     height: 300px;
    font-size: 1em;
    color: #303030;  /* 文字の色 */
    background-color: #f0f0f0;  /* 背景色 */
    border: solid 1px #cccccc;  /*境界線の色 */
    line-height: 150%;　/*一行の高さ */
    margin:0.5em 1em ;  /*上下左右にマージン */
    padding: 0.5em;  /*　余白 */
    overflow-x: auto;  /*横幅不足時スライドカーソル*/
    overflow-y: auto;  /*縦長さ不足時スライドカーソル*/
    word-wrap:break-word;
}
.s p{
    background: rgba(255,255,0,0.5);
}
img {
   max-width:1000px;
   height: auto;
}/*htmlに合わせた大きさ*/

.girl {
  margin-left: auto;  /* 【ポイント】*/
  margin-right: auto;
}

.together  {/*親div*/
  position: relative/*相対配置*/
}

.together p{/*親div*/
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform:
   translate(-50%,-50%);
  -webkit-transform:
    translate(-50%,-50%);
  transform:
   translate(-50%,-50%);
    margin:0;
    padding:0
}
/*hoverはボタンにカーソル合わせた時の変化*/
button,
button:hover{
  border:none;
  color:#fff;
  padding:20px
}

button{
  background:#265f82;
  width: 20%;
  cursor:pointer;/*ポインタから指型変わる*/
  transition: /*場所　時間　滑らか*/
  background .3s ease
}

button:hover{
  background:#1F4C69
}

.girlButton {
  position: absolute;
  right: 8%;
  bottom: 0
}

.chat__main{
    display:flex;
    /*アイテムが縦に並べられる*/
    flex-direction:column;
    height:100vh;
    width:100%
}
.name {
    font-size:30px;
    padding: 10px 0 8px 20px;
}
.registration {
    font-size-adjust: auto;
    padding: 20px 0px 0px 0;
}
.gender{
    font-size-adjust: auto;
    padding: 0px 0 10px 0;
}

/*ここから下はselect_2.htmlで作成したクラスの編集ぶぶん*/
#nameTitle{
    font-size: 20px;
}
.inputName{
    font-size-adjust: :auto;
    padding:  10px 500px 8px 500px;
}

#genderTitle{
    font-size: 20px;
}
.inputGender{
    padding: 15px 0 10px 0;
    font-size:17px;
}
.charSel img{
    left: 500px;
    position: relative;
    width: auto;
    height: auto;
}
.girlName {
    position:absolute;
    right: 14%;
    bottom:50%;
    font-weight:300;
    font-size:3.0rem;
    text-align:center;
    color: #000000;  /* 文字の色 */
}
.bg-mask{
    background: rgba(255,255,255,0.7);
}
